<a href="https://colab.research.google.com/github/snxz21/Logs/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
logs = []
with open("logs.txt", "r") as file:
    for line in file:
        logs.append(line)

In [9]:
logs[0][logs[0].find("|")+1:]

' 2018-08-01 00:01:35 [YQ4WUDJV] INFO: 121.165.118.201 https://all_to_the_bottom.com/\n'

In [32]:
import pandas as pd
import datetime as DT
from datetime import timedelta

In [35]:
logs[0].split(" ")

['shop_api',
 '',
 '',
 '',
 '',
 '',
 '|',
 '2018-08-01',
 '00:01:35',
 '[YQ4WUDJV]',
 'INFO:',
 '121.165.118.201',
 'https://all_to_the_bottom.com/\n']

In [19]:
logs[0].split(" ")[0], logs[0].split(" ")[-6], logs[0].split(" ")[-5]

('shop_api', '2018-08-01', '00:01:35')

In [34]:
dt_fmt = '%Y-%m-%d %H:%M:%S'

(DT.datetime.strptime(logs[0].split(" ")[-6] + " " + logs[0].split(" ")[-5], dt_fmt) + timedelta(hours=0)).strftime(dt_fmt)

'2018-08-01 00:01:35'

In [37]:
api = []
time = []
code = []
info = []
ip = []
link = []
for i in range(len(logs)):
  api.append(logs[i].split(" ")[0])
  time.append((DT.datetime.strptime(logs[i].split(" ")[-6] + " " + logs[i].split(" ")[-5], dt_fmt) + timedelta(hours=0)).strftime(dt_fmt))
  code.append(logs[i].split(" ")[-4])
  info.append(logs[i].split(" ")[-3])
  ip.append(logs[i].split(" ")[-2])
  link.append(logs[i].split(" ")[-1])

len(link), len(api)

(24284, 24284)

In [89]:
df = pd.DataFrame({'api': api, 'time': time, 'code': code, 'infos':info, 'ip':ip, 'link': link})
df.head()

        api  ...                                          link
0  shop_api  ...              https://all_to_the_bottom.com/\n
1  shop_api  ...   https://all_to_the_bottom.com/fresh_fish/\n
2  shop_api  ...              https://all_to_the_bottom.com/\n
3  shop_api  ...  https://all_to_the_bottom.com/canned_food/\n
4  shop_api  ...              https://all_to_the_bottom.com/\n

[5 rows x 6 columns]

In [90]:
df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%d %H:%M:%S')
df['time'][0]

Timestamp('2018-08-01 00:01:35')

In [91]:
df['hours'] =df['time'].dt.hour
df.loc[100]

api                                     shop_api
time                         2018-08-01 01:25:42
code                                  [QP986QC6]
infos                                      INFO:
ip                                237.206.96.214
link     https://all_to_the_bottom.com/caviar/\n
hours                                          1
Name: 100, dtype: object

In [150]:
df.groupby('hours')['code'].count()

hours
0     1051
1     1093
2     1080
3     1075
4     1058
5     1035
6     1047
7     1075
8      989
9     1053
10     965
11     977
12     955
13     978
14    1022
15     973
16     982
17     999
18     981
19     986
20    1030
21     964
22     958
23     958
Name: code, dtype: int64

In [168]:
df[df['link'] =='https://all_to_the_bottom.com/semi_manufactures/\n'].groupby('ip').count()

                api  time  code  infos  link  hours
ip
0.147.8.189       2     2     2      2     2      2
0.176.17.253      4     4     4      4     4      4
0.231.176.149     4     4     4      4     4      4
0.81.74.117       1     1     1      1     1      1
1.101.213.183     3     3     3      3     3      3
...             ...   ...   ...    ...   ...    ...
99.143.27.102     4     4     4      4     4      4
99.196.221.246    2     2     2      2     2      2
99.30.57.204      5     5     5      5     5      5
99.32.188.129     2     2     2      2     2      2
99.60.82.81       3     3     3      3     3      3

[843 rows x 6 columns]

In [194]:
df['cart'] =  df[df['link'].str.contains('https://all_to_the_bottom.com/cart')]['link'].apply(lambda x: x[-5:-1])

In [195]:
df['pay'] = df[df['link'].str.contains('https://all_to_the_bottom.com/success_pay')]['link'].apply(lambda x: x[-6:-2])

In [196]:
cart_l = df['cart'].to_list()
pay_l = df['pay'].to_list()

In [197]:
cart_l = list(set(cart_l))
len(cart_l), len(pay_l)

(811, 24284)

In [215]:
df['succ_pay'] = df[df['link'].str.contains('https://all_to_the_bottom.com/pay\?user_id')]['link'].apply(lambda x: x[x.find('user_id')+8: x.find('&',x.find('user_id')+7)])

In [232]:
nonzero =0
for item in df.groupby('succ_pay')['ip'].count().to_list():
  if item > 1:
    nonzero+=1
nonzero

77

In [204]:
df.groupby('ip')['pay'].count().sort_values()

ip
0.147.8.189        0
222.246.49.65      0
221.129.33.89      0
220.211.202.24     0
220.167.12.15      0
                  ..
233.107.243.158    3
96.246.203.129     3
183.212.49.126     3
31.241.137.191     3
21.255.184.57      3
Name: pay, Length: 999, dtype: int64